
/* Estilos para el titulo y el boton de crear */

.contenedor-general-verusuarios{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    min-width: 1000px;
}

.contenedor-titulo-boton{
    display: flex;
    justify-content: space-between;
}


.boton-crear-usuarios{
    background-color: #c8c8c8(25, 135, 84, .9);
    color: #fff;
    width: 100%;
    
    border: none;
    transition: .5s;
    border-radius: 5px;
}

.boton-editar-usuarios{
    background-color: transparent;
    color: #fff;
    width: 100%;
    
    border: none;
    transition: .5s;
    border-radius: 5px;
}

.bi-plus-circle-fill{
    font-size: 30px;
    color: #0d6efd;
}

.bi-pencil-fill{
    font-size: 20px;
    color: #ffc107;
}

.bi-trash-fill {
    font-size: 25px;
    color: red;
}


.boton-crear-usuarios:hover{
    background-color: white (25, 135, 84, .6);
}


/* Estilos para la tabla */
table tr th{
    padding: 10px;
}

.contenedor-tabla-usuarios{
    display: flex;
justify-content: center;
}

.titulo-tabla-usuarios{
    background-color: rgba(33, 37, 41, .9);
    color: #ffffff;
}

.columna-botones-usuario{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    background-color: transparent;
}

.btn-usuarios-sin-materias {
    border: none;
    padding: 0;
    color: #0d6efd;
}


.contenedorBtnPaginador{
    display: flex;
    justify-content: space-evenly;
    margin-left: 290px;
    margin-right: 290px;
}

.botonPaginador{
    border-radius: 5px;
    width: 150px;
    height: 40px;
    background-color: #0d6efd;
    color: white;
    
}