.titulo-registro-aula {
    font-size: 40px;
}

.contenedor-registro-aula {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contenedor-elementos {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.contenedor-flex {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.inputs {
    width: 180px;
    border: 1px solid #c8c8c8;
    background: #e3e6ec;
    box-shadow: 5px 5px 12px #d1d9e6,
    -5px -5px 12px #ffffff;
}

.labels {
    font-size: 20px;
}

.contenedor-general {
    width: 500px;
}

.btn {
    width: 180px;
}

.contenedor-botones {
    display: flex;
    justify-content: space-evenly
}

img {
    width: 200px;
}

.img-advertencia {
    width: 290px;
}

.contenedor-advertencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parrafo-advertencia {
    margin: 10px;
    font-size: 20px;
}

.btn-entendido {
    border: none;
    width: 30%;
    height: 40px;
    color: #ffffff;
    background-color: #4fa8fb;
}

.contenedor-btns-confirmacion {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.btn-confirmacion {
    width: 40%;
    margin: 10px;
    border: none;
    color: #ffffff;
}

.btn-cancelar {
    background-color: rgba(220, 53, 69, .9);
}

.btn-guardar {
    background-color: #4fa8fb;
}

.form-registro-aula {
    margin: 0px;
}

.input-error {
    width: 180px;
    background: #e3e6ec;
    box-shadow: 5px 5px 12px #d1d9e6,
    -5px -5px 12px #ffffff;
    outline-color: red;
    border: 1px solid #c8c8c8;
}

input {
    outline-color: #4fa8fb;
}

.contenedor-input {
    width: 45%;
}

.msj-error-oculto{
    display: none;
}

.msj-error {
    font-size: 12px;
    margin: 0px;
    color: red;
    display: flex;
}