.titulo-reserva-aulas{
    margin-top: 20px;
 
}
.contenedor-reserva-aulas{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-registro-solicitud{
    margin: 0px;
}

.contenedor-reserva{
    width: 500px;
}

.contenedor-elementos-reserva-aulas{
    padding-top: 4%;
    height: 750px;
    display: flex;
    flex-direction: column;

}
.campos-reserva-aulas{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.contenedor-input{
    width: 33%;
}

.labels{
    font-size: 19px;
}

.inputs{
    width: 200px;
    border: 1px solid #c8c8c8;
    background: #e3e6ec;
    box-shadow: 5px 5px 12px #d1d9e6,
    -5px -5px 12px #ffffff;
    
}

.btns-reserva-aula{
    display: flex;
    justify-content: space-evenly;
    margin-block-end: 100px;
    margin-top: 20px;
 }

.btn{
    width: 180px;
}

.boton-cancelar{
    width: 180px;
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
    padding: 6px;
 }

 .boton-aceptar{
    width: 180px;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: 6px;
 }

/*para las validaciones*/
input{
    outline-color: #4fa8fb;
}

.input-error{
    width: 180px;
    background: #e3e6ec;
    box-shadow: 5px 5px 12px #d1d9e6,
    -5px -5px 12px #ffffff;
    outline-color: red;
    border: 1px solid #c8c8c8;
}

.mensaje-error-oculto{
    display: none;
}

.mensaje-error{
    font-size: 12px;
    margin: 0px;
    color: red;
    display: flex;
}


/*.boton-cancelar{
    background-color: red;
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 30px;
    font-weight: bolder;
    margin-bottom: 20px ;

}
.boton-aceptar{
    background-color: rgb(77, 202, 77);
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 30px;
    font-weight: bolder;

    margin-left: 30px;
    margin-bottom: 20px ;

}*/