.contenedor-solicitud {
    margin: 40px;
}

.parraf-datos-soli {
    color: #000;
    font-size: 18px;
}

.contenedor-parrafos-soli {
    
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(180px, 1fr));
    grid-column-gap: 10px;
}

.contenedor-tabla-aulas-soli {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-aulas-disponibles {
    max-width: 1000px;
    min-height: 240px;
    display: flex;
    flex-direction: row;
    
}

.tabla-aulas-soli {
    width: 45%;
}

.btn-rechazo{
    background-color: red;
    margin-top: 5px;
    width: 80%;
    border: none;
    color: #ffffff;
    border-radius: 15px;
    border: 1px solid rgba(171, 0, 0, 0.5);
    transition: .6s;
    
}
.btn-rechazo:hover{
    color: rgba(171, 0, 0, 0.5);
    background-color: #fff;
    
}

.parrafo-info-soli {
    color: #000;
}

/* Estilos para modificar icono encargador de reservar aula */
.btn-reserva {
    border: none;
    background-color: transparent;
    font-size: 10px;
}

.icono-reserva::before {
    font-size: 30px;
}

.col-solicitud {
    width: 130px;
}

.contenedorBtnPaginadorReservarAula{
    display: flex;
    justify-content: space-evenly;
}

.botonPaginadorAulaReservarAula{
    border-radius: 15px;
    width: 40px;
    height: 30px;
    background-color: #0d6efd;
    color: white;
    border: none;
}

.contenedor-tabla-aulas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 600px;
}

.contenedor-tablas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}