.modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open {
    display: flex;
}

.modal-container {
    position: relative;
    min-width: 420px;
    max-width: 580px;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    padding: 1rem;
    
    background-color: #ecf0f3;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    
    background-color: rgba(220, 53, 69, .9);
    color: #fff;
    border: none;
}

.contenedor-edicion-aula {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-cerrar {
    width: 25px;
}