.parrafo-home {
    color: #212529;
    width: 40%;
}

.contenido-home {
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section {
    max-width: 1000px;
}

.imgHome {
    width: 300px;
}

p {
    font-size: 20px;
}

.titulo-home {
    margin: 20px;
}

.contenedor-seccion-home {
    display: flex;
    justify-content: center;
    align-items: center;

}