
.AdvertenciaEliminarUsuario{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.cuerpoEliminarUsuario{
    display: flex;
    justify-content: center;
}

.botonesEliminarUsuario{
    padding-top: 20px;
    padding-block-end: 5px;
    display: flex;
    justify-content: space-evenly;
    
}

.btnModalAceptar{
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: aliceblue;
    font-size: 15px;
    width: 90px;
    border-radius: 5px;
}

.btnModalAceptar:hover {
    background-color: #3781f1;
    transition: 0.5;
}

.btnModalCancelar {
    background-color: transparent;
    border: none;
    color: rgb(238, 62, 62);
    font-size: 15px;
    width: 90px;
    
}

.btnModalCancelar:hover {
    background-color: #e0e0e0;
    transition: 0.5;
}