html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #ecf0f3;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: #212529;
    border-radius: 50px;
}